html{
	background-color: rgb(84, 150, 248);
}
.mainName{
	font-family: 'Fredoka One', cursive;
	text-align: center;
	font-size: 50px;
	color: aliceblue;
}
.mainInfo{
	font-family: 'Balsamiq Sans', cursive;
	text-align: center;
	font-size: 20px;
	.inputInfo{
		color:rgb(221, 224, 0);
	}
	.itemInfo{
		color: rgb(0, 221, 0);
	}
	.removeInfo{
		color: rgb(11, 0, 167);
	}
}
.inputDiv{
	display: flex;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 60%;
	height: 36px;
	input{
		font-family: 'Balsamiq Sans', cursive;
		margin: auto;
		width: 100%;
		height: 30px;
		font-size: 18px;
		border: 2px solid;
		border-color: rgb(53, 73, 255);
		border-radius: 5px;
		outline: 0;	
	}
	button{
		margin: auto;
		width: 50px;
		height: 36px;
		background: url(https://img.icons8.com/carbon-copy/2x/pencil.png) 100% 50% no-repeat;
		background-size: cover;
		background-color: rgb(135, 135, 226);
		border-radius: 5px;
		border: 2px solid;
		border-color: rgb(53, 73, 255);
		outline: 0;
		cursor: pointer;
	}
}
.listItem{
	display: flex;
	font-family: 'Balsamiq Sans', cursive;
	width: 50%;
	height: 40px;
	margin: auto;
	margin-top: 10px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(121, 121, 255);
	background-color: rgb(142, 142, 252);
	color: aliceblue;
	span {
  	display: flex;
		margin-top: 9px;
  	margin-left: 5px;
  	width: 100%;
  	height: 40px;
  	font-size: 18px;
  	outline: 0;
  	color: aliceblue;
	}
	button{
		font-family: 'Balsamiq Sans', cursive;
		color: rgb(190, 1, 1);
		font-size: 18px;
		height: 40px;
		width: 50px;
		padding: 0;
  	border: none;
  	background-color: transparent;
		cursor: pointer;
		outline: 0;
	}
}
.completed{
	background-color: rgb(9, 247, 1);
}
